table{
   border-collapse: separate;
   border-style: groove;
   border-radius: 1px;
   table-layout: fixed;
   width: 100%;
}

td{
  text-align: center;
  border-style: groove;
  border-radius: 1px;
  border-width: medium;
}

th{
  border-style: none;
}

button {
    background-color: white;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover{
    background-color: darkblue;
    color: #FFFF74;
}

button:focus {
  outline:0;
}
