#MainDisplay
{
  border: 2px;
  border-radius: 2px;
  border-color: black;
  border-style: ridge;
  margin: auto;
  width: 55%;
  padding: 20px;
}
#intro
{
  color: black;
  font-size: 75%;
}
#topper
{
  padding: 10px
}
p.1
{
  display: inline;
}
a
{
text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
display: block;
text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}
a:active {
    color: pink;
}
table
{
   display: inline;
   margin: auto;
   padding: 5px;
   padding-left: 15px;
}
#OtherTools
{
  padding-top: 20px;
  padding-left: 40%;
}
